{% extends 'base.html.twig' %}

{% block title %}Gepar > Entreprises{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Entreprise : Détail</h1>
        {% if entreprise.id == NULL %}
            <h4>Vous êtes en train de créer une nouvelle entreprise</h4>
            <p>
                <a  class='btn btn-sm btn-primary' href="{{ path('entreprise_liste') }}">Liste des entreprises</a>
            </p>
            {% else %}
            <h4>Vous êtes en train de modifier l'entreprise N° {{ entreprise.id }}</h4>
            <p>
                <a  class='btn btn-sm btn-primary' href="{{ path('entreprise_liste') }}">Liste des entreprises</a>
                <a  class='btn btn-sm btn-primary' href="{{ path('entreprise_new') }}">Nouvelle entreprise</a>
            </p>
        {% endif %}

        <div class="row">
            {{ form_start(formDetail) }}

            {# CodeSiren #}
            <div id="divCodeSiren" class="form-group row">
                <label class="col-sm-3">Code Siren&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDetail.codeSiren) }}
                </div>
            </div>

            {# Nom #}
            <div id="divNom" class="form-group row">
                <label class="col-sm-3">Nom&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDetail.nom) }}
                </div>
            </div>

            {# groupe #}
            <div id="divGroupe" class="form-group row">
                <label class="col-sm-3">Groupe&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDetail.groupe) }}
                </div>
            </div>

            {# Documents #}
            <div id="divDocuments">
                {{ form_row(formDetail.documents) }}
            </div>
            <div id="divDocs" class="form-group row">
                <label class="col-sm-3">Documents&nbsp;:</label>
                <div id="divDocsListe" class="col-sm-9">
                </div>
            </div>

            {# Contacts #}
            <div id="divContacts" class="form-group row">
                    <label class="col-sm-3">Contacts&nbsp;:</label>
                    <div class="col-sm-9">
                        >>> A DEVELOPPER {{ form_row(formDetail.contacts) }}
                    </div>
                </div>

            {# ConventionCollective #}
            <div id="divConventionCollective" class="form-group row">
                    <label class="col-sm-3">Convention collective&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDetail.conventionCollective) }}
                    </div>
                </div>

            {# trancheEffectif #}
            <div id="divTrancheEffectif" class="form-group row">
                    <label class="col-sm-3">Tranche d'effectifs&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDetail.trancheEffectif) }}
                    </div>
                </div>

            {# NbAdherents #}
            <div id="divNbAdherents" class="form-group row">
                    <label class="col-sm-3">Nombre d'adhérents&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDetail.nbAdherents) }}
                    </div>
                </div>

            {# Notes #}
            <div id="divNotes" class="form-group row">
                    <label class="col-sm-3">notes&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDetail.notes) }}
                    </div>
                </div>
        
            {# Actions #}
            {% if entreprise.id == NULL %}
                <button class="btn btn-sm btn-primary">Créer l'entreprise'</button>
            {% else %}
                <button class="btn btn-sm btn-primary">Modifier l'entreprise'</button>
            {% endif %}
    
            {{ form_end(formDetail) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}