{% extends 'base.html.twig' %}

{% block title %}Gepar > Documents{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Document : Détail</h1>
        {% if document.id == NULL %}
            <h4>Vous êtes en train de créer un nouveau document</h4>
            <p>
                <a  class='btn btn-sm btn-primary' href="{{ path('document_liste') }}">Liste des documents</a>
            </p>
            {% else %}
            <h4>Vous êtes en train de modifier le document N° {{ document.id }}</h4>
            <p>
                <a  class='btn btn-sm btn-primary' href="{{ path('document_liste') }}">Liste des documents</a>
                <a  class='btn btn-sm btn-primary' href="{{ path('document_new') }}">Nouveau document</a>
            </p>
        {% endif %}

        <div class="row">
            {{ form_start(formDocument) }}

            {# type #}
            <div class="form-group row">
                <label class="col-sm-3">Type&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.type) }}
                </div>
            </div>

            {# fichier #}
            <div class="form-group row">
                <label class="col-sm-3">Fichier&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.fichier) }}
                </div>
            </div>

            {# extension #}
            <div class="form-group row">
                <label class="col-sm-3">Extension&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.extension) }}
                </div>
            </div>

            {# taille #}
            <div class="form-group row">
                    <label class="col-sm-3">Taille&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDocument.taille) }}
                    </div>
                </div>

            {# entreprise #}
            <div class="form-group row">
                    <label class="col-sm-3">Entreprise&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDocument.entreprise) }}
                    </div>
                </div>

            {# attachement #}
            <div class="form-group row">
                    <label class="col-sm-3">Attachement&nbsp;:</label>
                    <div class="col-sm-9">
                        {{ form_row(formDocument.attachedTo) }}
                    </div>
                </div>
        
            {# Actions #}
            {% if document.id == NULL %}
                <button class="btn btn-sm btn-primary">Créer le document</button>
            {% else %}
                <button class="btn btn-sm btn-primary">Modifier le document</button>
            {% endif %}
    
            {{ form_end(formDocument) }}
        </div>
    </div>
{% endblock %}
