{% extends 'base.html.twig' %}

{% block title %}Gepar > Documents{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Document : Détail</h1>
        {% if document.id == NULL %}
            <p>Vous êtes en train de créer un nouveau document</p>
        {% else %}
            <p>Vous êtes en train d'accéder au document N° {{ document.id }}</p>
        {% endif %}

        <div class="row">
            {{ form_start(formDocument) }}

            {# type #}
            <div class="form-group row">
                <label class="col-sm-3">Type&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.type) }}
                </div>
            </div>

            {# fichier #}
            <div class="form-group row">
                <label class="col-sm-3">Fichier&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.fichier) }}
                </div>
            </div>

            {# extension #}
            <div class="form-group row">
                <label class="col-sm-3">Extension&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.extension) }}
                </div>
            </div>

            {# taille #}
            <div class="form-group row">
                <label class="col-sm-3">Taille&nbsp;:</label>
                <div class="col-sm-9">
                    {{ form_row(formDocument.taille) }}
                </div>
            </div>

            {{ form_end(formDocument) }}
        </div>
    </div>
{% endblock %}
