{% extends 'base.html.twig' %}

{% block title %}Gepar > Documents{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Document : Liste</h1>

    <p><a href="{{ path('document_new') }}">Ajouter</a></p>

    {% for document in documents %}
    {% if loop.first %}
        <table border='1'>
            <tr>
                <td>Action</td>
                <td>Type</td>
                <td>Document</td>
                <td>Extension</td>
                <td>Taille</td>
                <td>Entreprise</td>
                <td>Attachement</td>
                <td>Création</td>
                <td>Modification</td>
                <td>Suppression</td>
            </tr>
    {% endif %}
    <tr>
        <td>
            <a href="{{ path('document_detail',{'id': document.id}) }}">Editer</a>
            &nbsp;<a href="">Supprimer</a>
        </td>
        <td>{{ document.type }}</td>
        <td>{{ document.fichier }}</td>
        <td>{{ document.extension }}</td>
        <td>{{ document.taille }}</td>
        <td>{{ document.entreprise}}</td>
        <td>{{ document.attachedTo}}</td>
        <td>le {{ document.createdAt | date('d/m/Y') }} à {{ document.createdAt | date('H:i') }} par {{ document.createdBy }}</td>
        <td>le {{ document.modifiedAt | date('d/m/Y') }} à {{ document.modifiedAt | date('H:i') }} par {{ document.modifiedBy }}</td>
        <td>le {{ document.suppressedAt | date('d/m/Y') }} à {{ document.suppressedAt | date('H:i') }} par {{ document.suppressedBy }}</td>
    </tr>
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
