{% extends 'base.html.twig' %}

{% block title %}Gepar > Documents{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Document : Liste</h1>

    <p><a href="{{ path('document_new') }}">Ajouter</a></p>

    {% for document in documents %}
    {% if loop.first %}
        <table border='1'>
            <tr>
                <th>Action</th>
                <th>Entreprise</th>
                <th>Attachement</th>
                <th>Type</th>
                <th>Document</th>
                <th>Extension</th>
                <th>Taille</th>
                <th>Création</th>
                <th>Modification</th>
                <th>Suppression</th>
            </tr>
    {% endif %}
    <tr>
        <td>
            <a href="{{ path('document_detail',{'id': document.id}) }}">Editer</a>
            &nbsp;<a href="">Supprimer</a>
        </td>
        <td>{{ document.entreprise.nom }}</td>
        <td>{{ document.attachedTo}}</td>
        <td>{{ document.type }}</td>
        <td>{{ document.fichier }}</td>
        <td>{{ document.extension }}</td>
        <td>{{ document.taille }}</td>
        <td>le {{ document.createdAt | date('d/m/Y') }} à {{ document.createdAt | date('H:i') }} par {{ document.createdBy }}</td>
        {% if document.modifiedAt is null %}
            <td>&nbsp;</td>
        {% else %}
            <td>le {{ document.modifiedAt | date('d/m/Y') }} à {{ document.modifiedAt | date('H:i') }} par {{ document.modifiedBy }}</td>
        {% endif %}
        {% if document.deletedAt is null %}
            <td>&nbsp;</td>
        {% else %}
            <td>le {{ document.deletedAt | date('d/m/Y') }} à {{ document.deletedAt | date('H:i') }} par {{ document.deletedBy }}</td>
        {% endif %}
    </tr>
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
